@import './variables.scss';

body {
  margin: 0;
  padding-bottom: 8.5em;
  background-color: $madcucks-black;
}

#root {
  max-width: 80rem;
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin: 0 auto;
}
