$break-small: 480px;
$break-medium: 760px;
$break-large: 1024px;

$madcucks-orange: #FF8224;
$madcucks-red: #ce3b0a;
$madcucks-grey: #676767;
$madcucks-light-grey: #BCBCBC;
$madcucks-black: #1B1B1B;
$madcucks-audio-black: #242424;
$madcucks-actual-black: black;