@import '../../variables.scss';

.episodegrid-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding: 1em;

    @media screen and (max-width: $break-small){
        justify-content: center;
    }

}