$break-small: 480px;
$break-medium: 720px;

.thumbnail-container {
    
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    flex: 0 0 32%;

    @media screen and (max-width: $break-medium) {
        flex: 0 0 48%;
    }

    @media screen and (max-width: $break-small) {
        flex: 0 0 94%;
    }

    img {
        flex: 0 0 80%;
    }

    div {
        background-color: black;
        flex: 0 0 20%;
        text-align: left;
        font-size: 0.9em;

        .thumbnail-span-heading {
            color: white;
        }

        .thumbnail-span-subheading {
            color: grey;
        }

    }
}