@import '../../variables.scss';

.moreList-container {
    background-color: $madcucks-black;

    li {
        list-style-type: none;
        border-bottom: 2px dashed $madcucks-grey;
        padding-top: 32px;
        padding-bottom: 32px;

        a {
            display: flex;
            flex-direction: row;
            text-decoration: none;

            .moreList-image-container {
                display: flex;
                flex-direction: column;
                flex: 1 1 25%;
    
                img {
                    width: 100%;
                }
    
                img:hover {
                    opacity: 0.5;
                }
    
                p {
                    font-size: 0.5em;
                    color: white;
                }
    
            }
    
            .moreList-description-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex: 1 3 75%;
                text-align: justify;
                padding-left: 1em;
    
                h1 {
                    color: $madcucks-orange;
                    font-size: 1em;
                }
    
                p {
                    font-size: 1em;
                    color: $madcucks-light-grey;
                }
            }
        }

    }


    .moreList-button {
        background-color: $madcucks-actual-black;
        text-align: center;
        color: white;
        padding: 1em;
    }
}