@import '../../variables.scss';

.moreList-container {
    display: flex;
    flex: 0 0 25%;
    flex-direction: column;
    background-color: $madcucks-black;


    li {
        list-style-type: none;
        background-color: $madcucks-black;
        justify-content: flex-start;

        div {
            display: flex;

            .moreList-image-container {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                }

                img:hover {
                    opacity: 0.5;
                }

                p {
                    font-size: 0.5em;
                    color: white;
                }

            }

            .moreList-description-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                h1 {
                    color: $madcucks-orange;
                    font-size: 1em;
                }
    
                p {
                    color: $madcucks-light-grey;
                }
            }

        }
    }

    .moreList-button {
        background-color: $madcucks-black;
        color: white;
    }
}