@import '../../variables.scss';

.thumbnail-container {
    
    display: flex;
    flex-direction: column;
    flex: 0 0 32%;
    background-color: $madcucks-actual-black;
    margin-top: 2em;

    @media screen and (max-width: $break-medium) {
        flex: 0 0 48%;
    }

    @media screen and (max-width: $break-small) {
        flex: 0 0 94%;
    }

    img {
        flex: 0 0 90%;
        width: 100%;
    }  

    .thumbnail-info-container {
        background-color: $madcucks-actual-black;
        flex: 0 0 10%;
        text-align: left;
        font-size: 0.8em;
        padding: 0.5em;

        .thumbnail-span-heading {
            color: white;
        }

        .thumbnail-span-subheading {
            color: grey;
        }
    }


}

.thumbnail-container:hover {
    opacity: 0.75;
}