@import '../../variables.scss';

.episode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media screen and (max-width: $break-large){
        flex-wrap: wrap;
        margin: 0 2em;
    }

    @media screen and (max-width: $break-medium){
        flex-direction: column;
        justify-content: center;
    }

    .episode-image {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $break-large){
            flex: 0 0 35%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: $break-medium){
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: $break-small){
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        
        img {
            width: 100%;

        }

        .download-button {
            background-color: $madcucks-orange;
            color: white;
            text-align: center;
            margin-top: 10px;
            padding: 0.5em 1em 0.5em 1em;

        }

        .episode-button {
            background-color: $madcucks-red;
            color: white;
            text-align: center;
            margin-top: 10px;
            padding: 0.5em 1em 0.5em 1em;
        }

        .podcast-homepage-button {
            background-color: $madcucks-grey;
            color: white;
            text-align: center;
            margin-top: 10px;
            padding: 0.5em 1em 0.5em 1em;
        }
    }

    .episode-info {
        flex: 0 0 45%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0em 1em;

        @media screen and (max-width: $break-large){
            flex: 0 0 60%;
        }

        @media screen and (max-width: $break-medium){
            margin-top: 1em;
        }

        h1 {
            color: $madcucks-orange;
            font-size: 1em;
            font-weight: 400;
        }

        h2 {
            color: white;
            font-size: 1em;
            font-weight: 400;
        }

    }

    .episode-description {

        color: $madcucks-light-grey;

        img {
            display: block;
            height: auto;
            width: 100%;
            margin: 0 auto;
        }
    }
}