@import '../../variables.scss';

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    flex-grow: 2;
    padding: 1em;
    flex: 0 0 60%;

    h1 {
        font-size: 1.4em;
        color: white;
    }

    h2 {
        font-size: 1em;
        color: #676767;
    }
}

.navbar-button-container {
    flex: 0 0 35%;
    background: $madcucks-black;

    @media screen and (max-width: $break-medium) {
        flex: 0 0 100%;
        justify-content: center;
    }
}

.navbar-button-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1em;

    .navbar-button {
        background-color: black;
        border: 1.5px solid #1B1B1B;
        color:white;
        padding: 1em;
        flex: 1;
        text-align: center;
        transition: all 0.25s linear;

        @media screen and (max-width: $break-large) {
            font-size: 0.8em;
        }
       
    }

    .active {
        background-color: $madcucks-orange;
    }

    .navbar-button:hover {
        background-color: $madcucks-orange;
    } 
}

